doctype html
head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="/libs/foundation/css/foundation.min.css")
  title Auth with PassportJS
body
  form
    div.row
      div#login.medium-6.medium-offset-3
        div.row
          h2 Login
        div.row
          div.alert-box.alert Test
        div.row
          label
            input(type="text", name="username", value="")
        div.row
          label
            input(type="password", name="password", value="")
        div.row
          button.button Login
